#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    // Definisi untuk rotari encoder (Volume & Mute)
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_left>;
        triggers-per-rotation = <20>;
    };

    keymap {
        compatible = "zmk,keymap";

        // LAYER 0: MEDIA (Default)
        layer_media {
            bindings = <
                &to 1
                &kp C_PREV    &kp UP      &kp C_NEXT
                &kp LEFT      &kp C_PP    &kp RIGHT
                &kp C_MUTE    &kp DOWN    &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // LAYER 1: NUMPAD
        layer_numpad {
            bindings = <
                &to 2
                &kp KP_N7     &kp KP_N8   &kp KP_N9
                &kp KP_N4     &kp KP_N5   &kp KP_N6
                &kp KP_N1     &kp KP_N2   &kp KP_N3
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // LAYER 2: FUNCTION / EDITING
        layer_function {
            bindings = <
                &to 3
                &kp C_AC_COPY &kp C_AC_CUT &kp C_AC_PASTE
                &kp C_AC_SEARCH &kp C_AC_BOOKMARKS &kp BSPC
                &kp LALT      &kp TAB     &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // LAYER 3: MIDI / EXTRA (ZMK tidak punya native MIDI keycodes seperti QMK, diisi custom macro/key standar)
        layer_midi {
            bindings = <
                &to 0
                &kp A         &kp S       &kp D
                &kp Q         &kp W       &kp E
                &kp N1        &kp N2      &kp N3
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
